.app{
  min-height: 100vh;
  background-color: rgb(182, 237, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  height: 300px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.red{
  color: red;
  font-size: 50px;
}